<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Template</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#fff"/>
  <meta name="format-detection" content="telephone=no"/>
  <link rel="stylesheet" media="all" href="css/app.css"/>
</head>
<body>

<!-- BEGIN content -->
<div class="out">
  <header>
    <div class="container">
      <div class="logo">
        <div class="img">
          <img src="../img/bumerang.png" alt=""/>
        </div>
        <div class="text">
          <p>многопрофильная строительная компания</p>
        </div>
      </div>
      <div class="contacts">
        <p>8(800) <span>555 777 3</span></p>
        <a href="#">Обратный звонок</a>
      </div>
    </div>
  </header>
  <section class="navigation">
    <div class="container">
      <ul class="nav">
        <li><a href="#">о компании</a></li>
        <li><a href="#">продукция</a></li>
        <li><a href="#">услуги</a></li>
        <li><a href="#">галерея модных домов</a></li>
        <li><a href="#">где купить</a></li>
        <li><a href="#">полезное</a></li>
        <li><a href="#">контакты</a></li>
        <li><a href="#">стать дилером</a></li>
      </ul>
    </div>
  </section>
  <section class="elements">
    <div class="container">
      <div class="services">
        <ul>
          <li class="first">
            <span class="top">установка</span>
            <span class="bottom b-first">Выезд специалиста бесплатно</span>
          </li>
          <li class="second">
            <span class="top">продажа</span>
            <span class="bottom">Расчет бесплатно</span>
          </li>
          <li class="third">
            <span class="top">Ремонт квартир</span>
          </li>
          <li class="fourth">
            <span class="top">каркасное деревянное строительство (беседки, баки)</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="yellow">
    <div class="container">
      <div class="siding">
        <span class="top">сайдинг</span>
        <p>Сайдинг от «Альта-Профиль» – уникальный инновационный продукт. Он полностью соответствует международным стандартам качества и адаптирован к российским климатическим условиям.</p>
        <ul class="photos">
          <li><img src="../img/layer-5.png" alt=""/><a href="#">Подробно</a></li>
          <li><img src="../img/layer-6.png" alt=""/><a href="#">Подробно</a></li>
          <li><img src="../img/layer-7.png" alt=""/><a href="#">Подробно</a></li>
          <li><img src="../img/layer-8.png" alt=""/><a href="#">Подробно</a></li>
          <li><img src="../img/layer-9.png" alt=""/><a href="#">Подробно</a></li>
          <li><img src="../img/layer-10.png" alt=""/><a href="#">Подробно</a></li>
        </ul>
      </div>
      <div class="panels">
        <span class="top">Панели</span>
        <p>Элегантный цокольный сайдинг производства «Альта-Профиль» надежно защитит здание от механических повреждений и воздействия неблагоприятных климатических факторов.</p>
        <ul class="photos">
          <li><img src="../img/layer-11.png" alt=""/><a href="#">Подробно</a></li>
          <li><img src="../img/layer-12.png" alt=""/><a href="#">Подробно</a></li>
          <li><img src="../img/layer-13.png" alt=""/><a href="#">Подробно</a></li>
          <li><img src="../img/layer-14.png" alt=""/><a href="#">Подробно</a></li>
          <li><img src="../img/layer-15.png" alt=""/><a href="#">Подробно</a></li>
          <li><img src="../img/layer-16.png" alt=""/><a href="#">Подробно</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="company">
    <div class="container">
      <h2>О компании</h2>
      <p>«Альта-Профиль» – первый отечественный производитель качественного сайдинга. Свою деятельность мы начали еще в 1999 году, и с тех пор из небольшого завода компания превратилась в полнофункциональное производство с широкой дилерской сетью по всей России.</p>
      <p>Руководствуясь передовыми методами и лучшими технологиями зарубежных коллег, на основе собственной лабораторной базы мы создали уникальный товар, который оптимально подходит для использования в российских климатических условиях.</p>
      <ul>
        <li><span><img src="../img/dds.png" alt=""/></span><span>10 лет опыта</span></li>
        <li><span><img src="../img/sdsd.png" alt=""/></span><span>Гарантия 3 года на работы,10 лет на материалы</span></li>
        <li><span><img src="../img/ss.png" alt=""/></span><span>Работа по договору</span></li>
        <li><span><img src="../img/adsds.png" alt=""/></span><span>Точность расчетов без доп. счетов</span></li>
        <li><span><img src="../img/dasd.png" alt=""/></span><span>Бесплатная доставка</span></li>
        <li><span><img src="../img/ds.png" alt=""/></span><span>Монтаж круглый год</span></li>
      </ul>
    </div>
  </section>
  <section class="reviews">
    <div class="container">
      <div class="read-reviews">
        <h2>отзывы</h2>
        <ul>
          <li>
            <span><img src="../img/dsdsd.png" alt=""/></span>
            <h3>Пантелеймон Христарождественский</h3>
            <p>Современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от вагонки. Надежный. Огромный выбор расцветок и материалов.  </p>
          </li>
          <li>
            <span><img src="../img/fdfdfd.png" alt=""/></span>
            <h3>Виктория Лебедева</h3>
            <p>Современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от вагонки. Надежный. Огромный выбор расцветок и материалов. Спасибо!  </p>
          </li>
        </ul>
        <a href="#" class="show-all">Все новости</a>
      </div>
      <div class="specialist">
        <form action="">
          <h2>вызов специалиста</h2>
          <input type="text" placeholder="Имя"/>
          <input type="text" placeholder="Телефон"/>
          <input class="full" type="text" placeholder="Адрес"/>
          <textarea cols="30" rows="3" placeholder="Комментарий"></textarea>
          <button>вызвать</button>
        </form>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="container">
      <h2>Новости</h2>
      <ul>
        <li>
          <div class="img">
            <img src="../img/layer-19.png" alt=""/>
          </div>
          <div class="text">
            <h3>Поступление нового сайдинга <span>21.06.2014</span></h3>

            <p>Современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от вагонки. Надежный. Огромный выбор расцветок и материалов, а также современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от</p>
          </div>
        </li>
        <li>
          <div class="img">
            <img src="../img/layer-20.png" alt=""/>
          </div>
          <div class="text">
            <h3>Поступление нового сайдинга <span>21.06.2014</span></h3>

            <p>Современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от вагонки. Надежный. Огромный выбор расцветок и материалов, а также современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="gallery">
    <div class="container">
      <h2>галерея модных домов</h2>
      <div class="slider multiple-items" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}' id="carousel">
        <div><img src="../img/slider.png" alt=""></div>
        <div><img src="../img/slider2.png" alt=""></div>
        <div><img src="../img/slider3.png" alt=""></div>
        <div><img src="../img/slider4.png" alt=""></div>
        <div><img src="../img/slider5.png" alt=""></div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="footer-logo">
        <img src="../img/bumerang-copy.png" alt=""/>
        <span>«бумеранг» © 2000-2014</span>
      </div>
      <div class="footer-links">
        <ul class="nav">
          <li><a href="#">о компании</a></li>
          <li><a href="#">продукция</a></li>
          <li><a href="#">услуги</a></li>
          <li><a href="#">галерея модных домов</a></li>
          <li><a href="#">где купить</a></li>
          <li><a href="#">полезное</a></li>
          <li><a href="#">контакты</a></li>
          <li><a href="#">стать дилером</a></li>
        </ul>
        <div class="contacts">
          <p>8(800) <span>555 777 3</span></p>
          <span>ADVcreative</span>
        </div>

      </div>
    </div>
  </footer>
</div>
<!-- END content -->

<!-- BEGIN scripts -->
<script type="text/javascript" src="../js/app.js"></script>
<!-- END scripts -->

</body>
</html>
