.company {
    padding-top: 50px;
    padding-bottom: 45px;
    box-shadow: inset 0 0 0 #ffffff;
    background-color: #898989;
    background-image: url("../img/layer-28-copy.png");
    background-position: 37% 88%;
    background-repeat: no-repeat;
    .container {
        h2 {
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            color: $black;
            @media #{$tablet} {
                text-align: center;
            }
        }
        p {
            padding-top: 11px;
            color: $black;
            font-family: 'Arial MT', sans-serif;
            font-size: 14px;
        }
        ul {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            @media #{$mobile} {
                flex-wrap: wrap;
            }
            li {
                display: flex;
                flex-direction: column;
                @media #{$mobile} {
                    width: 50%;
                }
                span {
                    text-align: center;
                    max-width: 150px;
                    font-size: 17px;
                    text-transform: uppercase;
                    @media #{$mobile} {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
