.company {
    box-shadow: inset 0 0 0 #ffffff;
    background-color: #898989;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.22) 0%, rgba(255, 255, 255, 0.22) 50%, rgba(0, 0, 0, 0.22) 100%);
    background-image: url("..img/layer-28-copy.png");
    .container {

    }
}
