footer {
    padding-top: 10px;
    padding-bottom: 20px;
    .container {
        display: flex;
        @media #{$mobile} {
            flex-direction: column;
        }
        .footer-logo {
            display: flex;
            flex-direction: column;
            img {
                width: 150px;
                height: 63px;
                @media #{$mobile} {
                   margin: 0 auto;
                }
            }
            span {
                font-family: 'Arial MT', sans-serif;
                font-size: 13px;
                font-weight: 400;
                text-transform: uppercase;
                @media #{$mobile} {
                    text-align: center;
                }
            }
        }
        .footer-links {
            padding-left: 40px;
            @media #{$mobile} {
                padding-left: 0;
            }
            .nav {
                padding: 20px 0;
                display: flex;
                @media #{$tablet} {
                    flex-wrap: wrap;
                    justify-content: center;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }

                &__item {
                    padding-right: 10px;
                    padding-left: 7px;
                    border-right: 1px solid $yellow;
                    &:first-child {
                        padding-left: 0;
                    }
                    &__link {
                        display: block;
                        color: $black;
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 20px;
                        text-transform: uppercase;
                        @media #{$mobile} {
                            font-size: 14px;
                        }
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
            .contacts {
                display: flex;
                justify-content: space-between;
                p {
                    padding-left: 20px;
                    display: block;
                    font-size: 18px;
                    font-weight: 400;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-align: right;
                    @media #{$mobile} {
                        padding-left: 0;
                    }
                    span {
                        font-size: 20px;
                        font-family: 'Roboto Bold Condensed', sans-serif;
                        font-weight: 700;
                    }
                }
                span {
                    font-family: 'Arial MT', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    text-decoration: underline;
                }
            }
        }
    }
}
