footer {
    padding-top: 27px;
    padding-bottom: 20px;
    .container {
        display: flex;
        @media #{$mobile} {
            flex-direction: column;
        }
        .footer-logo {
            display: flex;
            flex-direction: column;
            img {
                width: 150px;
                height: 63px;
                @media #{$tablet} {
                    margin: 0 auto;
                }
                @media #{$mobile} {
                   margin: 0 auto;
                }
            }
            span {
                font-family: 'Arial MT', sans-serif;
                font-size: 13px;
                font-weight: 400;
                text-transform: uppercase;
                @media #{$tablet} {
                    text-align: center;
                }
                @media #{$mobile} {
                    text-align: center;
                }
            }
        }
        .footer-links {
            padding-left: 40px;
            @media #{$tablet} {
                padding-left: 0;
            }
            @media #{$mobile} {
                padding-left: 0;
            }
            .f-nav {
                padding: 20px 0;
                display: flex;
                @media #{$tablet} {
                    flex-wrap: wrap;
                    justify-content: center;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }

                &__item {
                    padding-right: 4px;
                    padding-left: 7px;
                    &:first-child {
                        padding-left: 0;
                    }
                    &__link {
                        display: block;
                        color: $black;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        text-transform: uppercase;
                        @media #{$mobile} {
                            font-size: 14px;
                        }
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
            .f-contacts {
                position: relative;
                color: $black;
                display: flex;
                justify-content: space-between;
                @media #{$mobile} {
                    padding-bottom: 5px;
                }
                &__number {
                    padding-left: 20px;
                    display: block;
                    position: relative;
                    font-size: 22px;
                    font-weight: 400;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-align: right;
                    color: $black;
                    @media #{$mobile} {
                        text-align: left;
                        padding-left: 0;
                        font-size: 18px;
                    }
                    &--bold {
                        font-family: 'Roboto Bold Condensed', sans-serif;
                        font-weight: 700;
                    }
                }
                &__cr-link {
                    text-align: right;
                    text-decoration: underline;
                    color: $another-black;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 31px;
                    @media #{$mobile} {
                        top: 0;
                        width: 120px;
                        font-size: 12px;
                        line-height: 20px;
                    }
                    &:hover {
                        color: $yellow;
                    }

                }
            }
        }
    }
}
