.news {
    padding-top: 40px;
    padding-bottom: 40px;
    &__title {
        color: $black;
        font-size: 24px;
        @media #{$tablet} {
            text-align: center;
        }
    }
}

.news-list {
    display: flex;
    padding-top: 15px;
    @media #{$tablet} {
        flex-direction: column;
    }
    .new {
        width: 50%;
        display: flex;
        @media #{$tablet} {
            width: 100%;
            margin-top: 15px;
        }
        &__img {
            img {
                width: 111px;
                height: 111px;
                @media #{$tablet} {
                    width: 70px;
                    height: 70px;
                }
            }
        }
        &__text {
            padding-left: 20px;
        }
    }
}
.text {
    &__title {
        font-family: 'Roboto Bold Condensed', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: $dark-green;
        &--grey {
            display: block;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: $dark-grey;
        }
    }
    &__description {
        font-family: 'Arial MT', sans-serif;
        font-size: 13px;
        font-weight: 400;
        padding-right: 10px;
    }
}
