.slick-prev,
.slick-next {
    width: 70px;
    height: 70px;
    z-index: 3333;
}

.slick-prev {
    left: 300px;
    @media #{$desktop} {
        left: 100px;
    }
    @media #{$mobile} {
        left: 20px;
    }
    &:before {
        content: '>';
        background-image: url("../img/rectangle-21-copy-2.png");
        background-repeat: no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        color: transparent;
        width: 70px;
        height: 70px;
    }
    &:hover {

    }
}
.slick-next {
    right: 300px;
    @media #{$desktop} {
        right: 100px;
    }
    @media #{$mobile} {
        right: 20px;
    }
    &:before {
        content: '<';
        background-image: url("../img/rectangle-21.png");
        background-repeat: no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        color: transparent;
        width: 70px;
        height: 70px;
    }
    &:hover {

    }
}
.slider {
    div {
        img {
            width: 100%;
        }
    }
    .slide {
        position: relative;
        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $yellow;
            display: none;
            opacity: 0.7;
            font-size: 17px;
            font-family: 'Roboto Bold Condensed';
            text-align: center;
            @media #{$desktop} {
                padding-top: 45px;
            }
            @media #{$tablet} {
                padding-top: 27px;
            }
            @media #{$phone} {
                padding-top: 20px;
            }
            @media #{$mobile} {
                font-size: 10px;
            }
        }
        &:hover {
            .slide__mask {
                display: block;
            }
            background-color: $yellow;
        }
    }
}

