.prod {
    background-color: $yellow;
    padding-bottom: 20px;

}
.container {
    @media #{$mobile} {
        flex-direction: column;
    }
}
.products {
    display: flex;
    @media #{$tablet} {
        flex-direction: column;
    }
}
.product {
    margin-right: 32px;
    width: 50%;
    margin-top: 25px;
    @media #{$mobile} {
        width: 100%;
    }
    &__item {
        padding-bottom: 50px;
        border-right: 1px solid $dark-green;
        @media #{$mobile} {
            border: none;
            padding-bottom: 0;
        }
    }
    &__panels {
        padding-left: 20px;
        @media #{$mobile} {
            padding-left: 0;
        }
    }
    &__title {
        padding-top: 15px;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        color: $black;
        @media #{$mobile} {
            display: block;
            text-align: center;
        }
    }
    &__description {
        padding-top: 11px;
        font-family: 'Arial MT', sans-serif;
        font-size: 14px;
        font-weight: 400;
        padding-right: 25px;
        @media #{$mobile} {
            padding-right: 0;
        }
    }
    &__photos {
        padding-top: 27px;
        display: flex;
        @media #{$mobile} {
            flex-wrap: wrap;
            padding-left: 30px;
        }
        .item {
            position: relative;
            margin-right: 5px;
            width: 72px;
            height: 74px;
            @media #{$mobile} {
                margin-bottom: 5px;
            }
            &:hover {
                .item__link {
                    display: block;
                }
            }
            &__link {
                position: absolute;
                top: 40%;
                left: 3%;
                color: $black;
                font-size: 14px;
                text-decoration: underline;
                text-transform: uppercase;
                display: none;
                @media #{$tablet} {
                    left: 6%;
                    font-size: 12px;
                }
            }
            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-sizing: border-box;
            }
        }
    }
    &__btn {
        font-family: 'Arial MT';
        font-size: 13px;
        color: $white;
        line-height: 30px;
        background-color: $black;
        padding: 0 10px;
        border-radius: 3px;
        &:hover {
            color: $yellow;
        }
    }

}



