.icon-award {
  width: 0.69em;
  height: 1em;
  fill: #fff;
}
.icon-calc {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.icon-car {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-list {
  width: 0.81em;
  height: 1em;
  fill: initial;
}
.icon-people {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-snow {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
